article {
  margin: 80vh auto 20px;
  width: calc(100% - 40px);
  max-width: 1000px;
}

article h1 {
  line-height: 1;
  padding-bottom: 20px;
}

@media all and (max-width: 900px) {
  .no-scroll {
    overflow-y: auto;
  }
}


body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #13254d;
  background-image: url('/web/back.png');
  background-size: cover;
  background-position: center center;
}

main {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  padding: 0;
}

main .flex {
  align-items: center;
}

main p {
  margin: 3px 0 5px;
}

main a {
  display: inline-block;
  color: #fff;
  border: 2px solid transparent;
  padding: 3px 8px;
  border-bottom: 2px solid #fff;
  margin-right: 10px;
}

main a:hover,
main a:focus {
  outline: none;
  border: 2px solid #fff;
}

main a:active {
  background: rgba(255, 255, 255, 1);
  color: #333;
}
