article {
  margin: 80vh auto 20px;
  width: calc(100% - 40px);
  max-width: 900px
}

article, pre {
  box-shadow: .1em .1em .1em rgba(17, 17, 17, .2), 0 0 .1em rgba(17, 17, 17, .2);
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
}

article h1 {
  line-height: 1;
  padding-bottom: 20px;
}

article h2 {
  margin: -40px 0 0;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #e4fcfe;
  background-image: url('/web/buildings.jpg');
  background-size: cover;
  background-position: center center;
}

@media all and (max-width: 900px) {
  .no-scroll {
    overflow-y: auto;
  }
}


@media all and (max-width: 700px) {
  body {
    background-image: none;
  }
}

main {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
  /*color: #fff;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  padding: 0;
}

main .flex {
  align-items: center;
}

main p {
  margin: 3px 0 5px;
}

main a {
  display: inline-block;
  color: #333;
  border: 2px solid transparent;
  padding: 3px 8px;
  border-bottom: 2px solid #333;
  margin-right: 10px;
}

main a:hover,
main a:focus {
  outline: none;
  border: 2px solid #333;
}

main a:active {
  color: #333;
}
